{% extends 'layouts.html' %}
{% load static %}
{% block title %}
About Us
{% endblock %}

{% block content %}
<header class="hero-header-about">
    <div class="swiper-container swiper-hero-type-2">
        <div class="parallax-bg overlay black-overlay" style="background-image:url('http://via.placeholder.com/1920x1280')" data-swiper-parallax="-23%"></div>
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="hero-header--hero-content">
                    <div class="container">
                        <div class="hero-content--hero-wrapper">
                            <div class="hero-wrapper--content">
                                <p class="content--hero-subtitle" data-swiper-parallax="-900">we work hard, we play hard</p>
                                <h1 class="content--hero-heading" data-swiper-parallax="-600">Wide range of web promotion services</h1>
                                <div class="button-wrapper" data-swiper-parallax="-300">
                                    <a class="button btn-type-1" href="blog-single.html">Learn More<i class="fas fa-long-arrow-alt-right"></i></a>
                                </div>
                            </div>
                            <div class="hero-content--video-wrapper">
                                <div class="video-wrapper-type-1">
                                    <a class="video-toggle-type-1 video-popup"
                                       href="#video-post-1">
                                        <div class="play-btn-scale">
                                            <i class="fa fa-play"></i>
                                        </div>
                                    </a>
                                    <div id="video-post-1" class="white-popup-block mfp-hide mfp-fade">
                                        <div class="modal-video-box">
                                            <iframe src="https://www.youtube.com/embed/Sv511KEiIJQ"
                                                    allowfullscreen></iframe>
                                            <button title="Close (Esc)" type="button" class="mfp-close">×</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="hero-wrapper--news">
                            <div class="row news--news-wrap">
                                <div class="col-xl-3 col-sm-6 news-wrapper--news-column rev-block animation-element" data-swiper-parallax="-300">
                                    <div class="news-column--author">
                                        <a href="blog-single.html"><h6>John Doe</h6></a>
                                    </div>
                                    <div class="news--news-description">
                                        <a href="blog-single.html"><p>Lorem ipsum dolor sit amet, consect adipisicing elit. Molestiae</p></a>
                                    </div>
                                </div>
                                <div class="col-xl-3 col-sm-6 news-wrapper--news-column rev-block animation-element second-animation" data-swiper-parallax="-600">
                                    <div class="news-column--author">
                                        <a href="blog-single.html"><h6>Maria Grey</h6></a>
                                    </div>
                                    <div class="news--news-description">
                                        <a href="blog-single.html"><p>Lorem ipsum dolor sit amet, consect adipisicing elit. Molestiae</p></a>
                                    </div>
                                </div>
                                <div class="col-xl-3 col-sm-6 news-wrapper--news-column rev-block animation-element third-animation" data-swiper-parallax="-900">
                                    <div class="news-column--author">
                                        <a href="blog-single.html"><h6>Sarah Smith</h6></a>
                                    </div>
                                    <div class="news--news-description">
                                        <a href="blog-single.html"><p>Lorem ipsum dolor sit amet, consect adipisicing elit. Molestiae</p></a>
                                    </div>
                                </div>
                                <div class="col-xl-3 col-sm-6 news-wrapper--news-column rev-block animation-element fourth-animation mb-0" data-swiper-parallax="-1200">
                                    <div class="news-column--author">
                                        <a href="blog-single.html"><h6>Cory Brook</h6></a>
                                    </div>
                                    <div class="news--news-description">
                                        <a href="blog-single.html"><p>Lorem ipsum dolor sit amet, consect adipisicing elit. Molestiae</p></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="hero-header--hero-content">
                    <div class="container">
                        <div class="hero-content--hero-wrapper">
                            <div class="hero-wrapper--content">
                                <p class="content--hero-subtitle" data-swiper-parallax="-900">Don’t worry, you’re in safe hands</p>
                                <h1 class="content--hero-heading" data-swiper-parallax="-600">We're your front-end focused partner</h1>
                                <div class="button-wrapper" data-swiper-parallax="-300">
                                    <a class="button btn-type-1" href="blog-single.html">Learn More<i class="fas fa-long-arrow-alt-right"></i></a>
                                </div>
                            </div>
                            <div class="hero-content--video-wrapper">
                                <div class="video-wrapper-type-1">
                                    <a class="video-toggle-type-1 video-popup"
                                       href="#video-post-1">
                                        <div class="play-btn-scale">
                                            <i class="fa fa-play"></i>
                                        </div>
                                    </a>
                                    <div id="video-post-2" class="white-popup-block mfp-hide mfp-fade">
                                        <div class="modal-video-box">
                                            <iframe src="https://www.youtube.com/embed/Sv511KEiIJQ"
                                                    allowfullscreen></iframe>
                                            <button title="Close (Esc)" type="button" class="mfp-close">×</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="hero-wrapper--news">
                            <div class="row news--news-wrap">
                                <div class="col-xl-3 col-sm-6 news-wrapper--news-column rev-block animation-element" data-swiper-parallax="-300">
                                    <div class="news-column--author">
                                        <a href="blog-single.html"><h6>John Doe</h6></a>
                                    </div>
                                    <div class="news--news-description">
                                        <a href="blog-single.html"><p>Lorem ipsum dolor sit amet, consect adipisicing elit. Molestiae</p></a>
                                    </div>
                                </div>
                                <div class="col-xl-3 col-sm-6 news-wrapper--news-column rev-block animation-element second-animation" data-swiper-parallax="-600">
                                    <div class="news-column--author">
                                        <a href="blog-single.html"><h6>Maria Grey</h6></a>
                                    </div>
                                    <div class="news--news-description">
                                        <a href="blog-single.html"><p>Lorem ipsum dolor sit amet, consect adipisicing elit. Molestiae</p></a>
                                    </div>
                                </div>
                                <div class="col-xl-3 col-sm-6 news-wrapper--news-column rev-block animation-element third-animation" data-swiper-parallax="-900">
                                    <div class="news-column--author">
                                        <a href="blog-single.html"><h6>Sarah Smith</h6></a>
                                    </div>
                                    <div class="news--news-description">
                                        <a href="blog-single.html"><p>Lorem ipsum dolor sit amet, consect adipisicing elit. Molestiae</p></a>
                                    </div>
                                </div>
                                <div class="col-xl-3 col-sm-6 news-wrapper--news-column rev-block animation-element fourth-animation mb-0" data-swiper-parallax="-1200">
                                    <div class="news-column--author">
                                        <a href="blog-single.html"><h6>Cory Brook</h6></a>
                                    </div>
                                    <div class="news--news-description">
                                        <a href="blog-single.html"><p>Lorem ipsum dolor sit amet, consect adipisicing elit. Molestiae</p></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="hero-header--hero-content">
                    <div class="container">
                        <div class="hero-content--hero-wrapper">
                            <div class="hero-wrapper--content">
                                <p class="content--hero-subtitle" data-swiper-parallax="-900">Find more ideas for your projects</p>
                                <h1 class="content--hero-heading" data-swiper-parallax="-600">We offer a full range of digital marketing</h1>
                                <div class="button-wrapper" data-swiper-parallax="-300">
                                    <a class="button btn-type-1" href="blog-single.html">Learn More<i class="fas fa-long-arrow-alt-right"></i></a>
                                </div>
                            </div>
                            <div class="hero-content--video-wrapper">
                                <div class="video-wrapper-type-1">
                                    <a class="video-toggle-type-1 video-popup"
                                       href="#video-post-1">
                                        <div class="play-btn-scale">
                                            <i class="fa fa-play"></i>
                                        </div>
                                    </a>
                                    <div id="video-post-3" class="white-popup-block mfp-hide mfp-fade">
                                        <div class="modal-video-box">
                                            <iframe src="https://www.youtube.com/embed/Sv511KEiIJQ"
                                                    allowfullscreen></iframe>
                                            <button title="Close (Esc)" type="button" class="mfp-close">×</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="hero-wrapper--news">
                            <div class="row news--news-wrap">
                                <div class="col-xl-3 col-sm-6 news-wrapper--news-column rev-block animation-element" data-swiper-parallax="-300">
                                    <div class="news-column--author">
                                        <a href="blog-single.html"><h6>John Doe</h6></a>
                                    </div>
                                    <div class="news--news-description">
                                        <a href="blog-single.html"><p>Lorem ipsum dolor sit amet, consect adipisicing elit. Molestiae</p></a>
                                    </div>
                                </div>
                                <div class="col-xl-3 col-sm-6 news-wrapper--news-column rev-block animation-element second-animation" data-swiper-parallax="-600">
                                    <div class="news-column--author">
                                        <a href="blog-single.html"><h6>Maria Grey</h6></a>
                                    </div>
                                    <div class="news--news-description">
                                        <a href="blog-single.html"><p>Lorem ipsum dolor sit amet, consect adipisicing elit. Molestiae</p></a>
                                    </div>
                                </div>
                                <div class="col-xl-3 col-sm-6 news-wrapper--news-column rev-block animation-element third-animation" data-swiper-parallax="-900">
                                    <div class="news-column--author">
                                        <a href="blog-single.html"><h6>Sarah Smith</h6></a>
                                    </div>
                                    <div class="news--news-description">
                                        <a href="blog-single.html"><p>Lorem ipsum dolor sit amet, consect adipisicing elit. Molestiae</p></a>
                                    </div>
                                </div>
                                <div class="col-xl-3 col-sm-6 news-wrapper--news-column rev-block animation-element fourth-animation mb-0" data-swiper-parallax="-1200">
                                    <div class="news-column--author">
                                        <a href="blog-single.html"><h6>Cory Brook</h6></a>
                                    </div>
                                    <div class="news--news-description">
                                        <a href="blog-single.html"><p>Lorem ipsum dolor sit amet, consect adipisicing elit. Molestiae</p></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="swiper-button-prev-about"></div>
        <div class="swiper-button-next-about"></div>
    </div>
</header>
<!-- About quote -->
<section class="about-section large-section">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="about-section--inner-wrapper">
                    <div class="inner-wrapper--content-wrapper">
                        <div class="content-wrapper--quote-wrapper">
                            <div class="quote-wrapper--subtitle">
                                Build perfect websites
                            </div>
                            <div class="content-wrapper--title">
                                <h3>Beautiful and easy to use UI, professional animations & Unlimited power and customization</h3>
                            </div>
                            <div class="button-wrapper">
                                <a class="button btn-type-2" href="index.html">Purchase Norto</a>
                            </div>
                        </div>
                    </div>
                    <div class="inner-wrapper--image-wrapper bg-size-cover bg-position-center" style="background-image: url('http://via.placeholder.com/1920x1280')"></div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Info Banners-->
<section class="info-banners-section">
    <div class="info-banners-type-1">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-4">
                    <div class="image-wrapper bg-size-cover bg-position-center" style="background-image: url('http://via.placeholder.com/1920x1280')"></div>
                </div>
                <div class="col-xl-4 content-wrapper responsive-padding">
                    <div class="black-background">
                        <div class="content-wrapper--content"
                             data-aos="zoom-in"
                             data-aos-delay="100"
                             data-aos-anchor-placement="top-bottom"
                             data-aos-easing="ease-in-out"
                             data-aos-duration="700">
                            <div class="content--number-wrapper heading-stroke">
                                <span>01</span>
                            </div>
                            <div class="content--description-wrapper">
                                <h5>Product Branding</h5>
                                <p>Lorem ipsum dolor suscipit sit sunt ame consectetur adipisicing. Earum consect</p>
                                <a href="blog-single.html" class="content-wrapper--link">
                                    <p>Learn more</p>
                                    <i class="fa fa-long-arrow-alt-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 info-banners-type-1--image-inner-wrapper">
                    <div class="image-wrapper bg-size-cover bg-position-center" style="background-image: url('http://via.placeholder.com/1920x1280')"></div>
                </div>
            </div>
            <div class="row second-row">
                <div class="col-xl-4 content-wrapper">
                    <div class="black-background">
                        <div class="content-wrapper--content"
                             data-aos="zoom-in"
                             data-aos-delay="250"
                             data-aos-anchor-placement="top-bottom"
                             data-aos-easing="ease-in-out"
                             data-aos-duration="700">
                            <div class="content--number-wrapper heading-stroke">
                                <span>02</span>
                            </div>
                            <div class="content--description-wrapper">
                                <h5>Portfolio Styles</h5>
                                <p>Lorem ipsum dolor suscipit sit sunt ame consectetur adipisicing. Earum consect</p>
                                <a href="blog-single.html" class="content-wrapper--link">
                                    <p>Learn more</p>
                                    <i class="fa fa-long-arrow-alt-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 responsive-padding">
                    <div class="image-wrapper bg-size-cover bg-position-center" style="background-image: url('http://via.placeholder.com/1920x1280')"></div>
                </div>
                <div class="col-xl-4 content-wrapper">
                    <div class="black-background">
                        <div class="content-wrapper--content"
                             data-aos="zoom-in"
                             data-aos-delay="350"
                             data-aos-anchor-placement="top-bottom"
                             data-aos-easing="ease-in-out"
                             data-aos-duration="700">
                            <div class="content--number-wrapper heading-stroke">
                                <span>03</span>
                            </div>
                            <div class="content--description-wrapper">
                                <h5>Unique Design</h5>
                                <p>Lorem ipsum dolor suscipit sit sunt ame consectetur adipisicing. Earum consect</p>
                                <a href="blog-single.html" class="content-wrapper--link">
                                    <p>Learn more</p>
                                    <i class="fa fa-long-arrow-alt-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Services -->
<section class="services-about-section">
    <div class="container">
        <div class="row services-section--inner-wrapper">
            <div class="col-xl-3 section-heading padding-right">
                <h2 class="section-heading--title">
                    Our Services
                </h2>
                <p class="section-heading--subtitle">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit
                </p>
                <div class="button-wrapper">
                    <a class="button btn-type-2" href="product-single.html">Learn more</a>
                </div>
            </div>
            <div class="col-xl-9">
                <div class="row services-type-3">
                    <div class="col-md-6">
                        <div class="services-type-3--inner-wrapper">
                            <div class="inner-wrapper--services-box">
                                <div class="services-box--content">
                                    <i class="fas fa-space-shuttle"></i>
                                    <h5>Super Fresh</h5>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisici elite. Asperiores cupiditate eius esse minus neque</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="services-type-3--inner-wrapper">
                            <div class="inner-wrapper--services-box">
                                <div class="services-box--content">
                                    <i class="fab fa-napster"></i>
                                    <h5>Media Planning</h5>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisici elite. Asperiores cupiditate eius esse minus neque</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="services-type-3--inner-wrapper">
                            <div class="inner-wrapper--services-box">
                                <div class="services-box--content">
                                    <i class="fas fa-candy-cane"></i>
                                    <h5>There For You</h5>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisici elite. Asperiores cupiditate eius esse minus neque</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="services-type-3--inner-wrapper mb-0">
                            <div class="inner-wrapper--services-box">
                                <div class="services-box--content">
                                    <i class="fas fa-brain"></i>
                                    <h5>Element Library</h5>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisici elite. Asperiores cupiditate eius esse minus neque</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- 3d hover images -->
<section class="hover-images-section portfolio-metro">
    <div class="four-column-container">
        <div class="grid" data-grid-layout-mode="packery">
            <div class="grid--grid-item grid--grid-item-50">
                <div class="hover-images">
                    <div class="grid-item--grid-inner tilt-wrapper"
                         data-tilt-value="10" data-tilt-speed="1200"
                         data-tilt-scale="1" data-tilt-perspective="1300">
                        <img src="http://via.placeholder.com/1920x1280" class="img-fluid" alt="">
                        <a class="grid-inner--description-wrapper grid-inner--description-wrapper--big-image" href="index.html">
                            <div class="description-wrapper--content">
                                <h5>Dancing Woman</h5>
                                <p>Learning to move</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="grid--grid-item grid--grid-item-25">
                <div class="hover-images">
                    <div class="grid-item--grid-inner tilt-wrapper"
                         data-tilt-value="8" data-tilt-speed="1200"
                         data-tilt-scale="1" data-tilt-perspective="1300">
                        <img src="http://via.placeholder.com/1920x1280" class="img-fluid" alt="">
                        <a class="grid-inner--description-wrapper grid-inner--description-wrapper--small-image" href="index.html">
                            <div class="description-wrapper--content">
                                <h5>Dark City</h5>
                                <p>Let's go for a walk</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="grid--grid-item grid--grid-item-25">
                <div class="hover-images">
                    <div class="grid-item--grid-inner tilt-wrapper"
                         data-tilt-value="8" data-tilt-speed="1200"
                         data-tilt-scale="1" data-tilt-perspective="1300">
                        <img src="http://via.placeholder.com/1920x1280" class="img-fluid" alt="">
                        <a class="grid-inner--description-wrapper grid-inner--description-wrapper--small-image" href="index.html">
                            <div class="description-wrapper--content">
                                <h5>Street Lights</h5>
                                <p>Looking at the landscape</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="grid--grid-item grid--grid-item-25">
                <div class="hover-images">
                    <div class="grid-item--grid-inner tilt-wrapper"
                         data-tilt-value="8" data-tilt-speed="1200"
                         data-tilt-scale="1" data-tilt-perspective="1300">
                        <img src="http://via.placeholder.com/1920x1280" class="img-fluid" alt="">
                        <a class="grid-inner--description-wrapper grid-inner--description-wrapper--small-image" href="index.html">
                            <div class="description-wrapper--content">
                                <h5>Lonely chairs</h5>
                                <p>Won't leave alone</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="grid--grid-item grid--grid-item-25">
                <div class="hover-images">
                    <div class="grid-item--grid-inner tilt-wrapper"
                         data-tilt-value="8" data-tilt-speed="1200"
                         data-tilt-scale="1" data-tilt-perspective="1300">
                        <img src="http://via.placeholder.com/1920x1280" class="img-fluid" alt="">
                        <a class="grid-inner--description-wrapper grid-inner--description-wrapper--small-image" href="index.html">
                            <div class="description-wrapper--content">
                                <h5>Highest mountain</h5>
                                <p>I don't like climbing</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- 2 Sides Section-->
<section class="two-sides-section pt-0">
    <div class="container-fluid">
        <div class="row two-sides-section--inner-wrapper">
            <div class="col-md-5 col-sm-12 inner-wrapper--content-wrapper left-side">
                <div class="content-wrapper--description-box">
                    <div class="description-box--description"
                         data-aos="fade-up"
                         data-aos-delay="100"
                         data-aos-anchor-placement="top-bottom"
                         data-aos-easing="ease-in-out"
                         data-aos-duration="700">
                        <h3>Design Quality</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta, saepe voluptates. Amet eius harum hic iusto omnis. Dignissimos dolor maiores officia possimus qui quia rem</p>
                        <div class="button-wrapper">
                            <a class="button btn-type-1" href="index.html">Explore Norto</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-7 col-sm-12">
                <div class="inner-wrapper--image-wrapper bg-position-center bg-size-cover" style="background-image: url('http://via.placeholder.com/1920x1280')"></div>
            </div>
        </div>
    </div>
</section>
<!-- 2 Sides Section-->
<section class="two-sides-section">
    <div class="container-fluid">
        <div class="row two-sides-section--inner-wrapper">
            <div class="col-md-7 col-sm-12">
                <div class="inner-wrapper--image-wrapper bg-position-center bg-size-cover" style="background-image: url('http://via.placeholder.com/1920x1280')"></div>
            </div>
            <div class="col-md-5 col-sm-12 inner-wrapper--content-wrapper right-side">
                <div class="content-wrapper--description-box">
                    <div class="description-box--description"
                         data-aos="fade-up"
                         data-aos-delay="200"
                         data-aos-anchor-placement="top-bottom"
                         data-aos-easing="ease-in-out"
                         data-aos-duration="700">
                        <h3>Powerful Options</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta, saepe voluptates. Amet eius harum hic iusto omnis. Dignissimos dolor maiores officia possimus qui quia rem</p>
                        <div class="button-wrapper">
                            <a class="button btn-type-1" href="index.html">Explore Norto</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Team section -->
<section class="team black-section">
    <div class="container-fluid">
        <div class="team-type-1 row">
            <div class="col-lg-3 col-md-6 team-type-1--team-wrappper">
                <div class="member-wrapper">
                    <div class="member-wrapper--img-wrapper">
                        <img src="http://via.placeholder.com/1920x1280" alt="" class="img-fluid">
                    </div>
                    <div class="member-wrapper--member-description">
                        <div class="member-description--content-wrapper">
                            <div class="content-wrapper--content">
                                <div class="content--author-wrapper">
                                    <p class="content--position">Developer</p>
                                    <h5 class="content--name">Sarah Smith</h5>
                                </div>
                                <div class="content--social-wrapper">
                                    <a class="social-wrapper--social-box" href="index.html"><i class="fab fa-facebook-f"></i></a>
                                    <a class="social-wrapper--social-box" href="index.html"><i class="fab fa-twitter"></i></a>
                                    <a class="social-wrapper--social-box" href="index.html"><i class="fab fa-google-plus-g"></i></a>
                                    <a class="social-wrapper--social-box" href="index.html"><i class="fab fa-linkedin-in"></i></a>
                                    <a class="social-wrapper--social-box" href="index.html"><i class="fab fa-instagram"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 team-type-1--team-wrappper">
                <div class="member-wrapper">
                    <div class="member-wrapper--img-wrapper">
                        <img src="http://via.placeholder.com/1920x1280" alt="" class="img-fluid">
                    </div>
                    <div class="member-wrapper--member-description">
                        <div class="member-description--content-wrapper">
                            <div class="content-wrapper--content">
                                <div class="content--author-wrapper">
                                    <p class="content--position">Director</p>
                                    <h5 class="content--name">John Doe</h5>
                                </div>
                                <div class="content--social-wrapper">
                                    <a class="social-wrapper--social-box" href="index.html"><i class="fab fa-facebook-f"></i></a>
                                    <a class="social-wrapper--social-box" href="index.html"><i class="fab fa-twitter"></i></a>
                                    <a class="social-wrapper--social-box" href="index.html"><i class="fab fa-google-plus-g"></i></a>
                                    <a class="social-wrapper--social-box" href="index.html"><i class="fab fa-linkedin-in"></i></a>
                                    <a class="social-wrapper--social-box" href="index.html"><i class="fab fa-instagram"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 team-type-1--team-wrappper">
                <div class="member-wrapper">
                    <div class="member-wrapper--img-wrapper">
                        <img src="http://via.placeholder.com/1920x1280" alt="" class="img-fluid">
                    </div>
                    <div class="member-wrapper--member-description">
                        <div class="member-description--content-wrapper">
                            <div class="content-wrapper--content">
                                <div class="content--author-wrapper">
                                    <p class="content--position">Designer</p>
                                    <h5 class="content--name">Kate Maruv</h5>
                                </div>
                                <div class="content--social-wrapper">
                                    <a class="social-wrapper--social-box" href="index.html"><i class="fab fa-facebook-f"></i></a>
                                    <a class="social-wrapper--social-box" href="index.html"><i class="fab fa-twitter"></i></a>
                                    <a class="social-wrapper--social-box" href="index.html"><i class="fab fa-google-plus-g"></i></a>
                                    <a class="social-wrapper--social-box" href="index.html"><i class="fab fa-linkedin-in"></i></a>
                                    <a class="social-wrapper--social-box" href="index.html"><i class="fab fa-instagram"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 team-type-1--team-wrappper">
                <div class="member-wrapper">
                    <div class="member-wrapper--img-wrapper">
                        <img src="http://via.placeholder.com/1920x1280" alt="" class="img-fluid">
                    </div>
                    <div class="member-wrapper--member-description">
                        <div class="member-description--content-wrapper">
                            <div class="content-wrapper--content">
                                <div class="content--author-wrapper">
                                    <p class="content--position">Manager</p>
                                    <h5 class="content--name">Lina Black</h5>
                                </div>
                                <div class="content--social-wrapper">
                                    <a class="social-wrapper--social-box" href="index.html"><i class="fab fa-facebook-f"></i></a>
                                    <a class="social-wrapper--social-box" href="index.html"><i class="fab fa-twitter"></i></a>
                                    <a class="social-wrapper--social-box" href="index.html"><i class="fab fa-google-plus-g"></i></a>
                                    <a class="social-wrapper--social-box" href="index.html"><i class="fab fa-linkedin-in"></i></a>
                                    <a class="social-wrapper--social-box" href="index.html"><i class="fab fa-instagram"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Recent posts -->
<section class="recent-posts-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-sm-12">
                <div class="recent-posts-type-2" style="background-image: url('http://via.placeholder.com/1920x1280')">
                    <div class="recent-posts-wrapper--content-wrapper">
                        <div class="content-wrapper--content">
                            <a href="blog-single.html"><h3>Powerful tools</h3></a>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur consequatur cumque dignissimos dolor, eos itaquebi</p>
                        </div>
                        <a href="blog-single.html" class="content-wrapper--link">
                            <p>Read more</p>
                            <i class="fa fa-long-arrow-alt-right"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-12">
                <div class="recent-posts-type-2"
                     style="background-image: url('http://via.placeholder.com/1920x1280')">
                    <div class="recent-posts-wrapper--content-wrapper">
                        <div class="content-wrapper--content">
                            <a href="blog-single.html"><h3>Norto Plugins</h3></a>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur consequatur cumque dignissimos dolor, eos itaquebi</p>
                        </div>
                        <a href="blog-single.html" class="content-wrapper--link">
                            <p>Read more</p>
                            <i class="fa fa-long-arrow-alt-right"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-12">
                <div class="recent-posts-type-2 mb-0"
                     style="background-image: url('http://via.placeholder.com/1920x1280')">
                    <div class="recent-posts-wrapper--content-wrapper">
                        <div class="content-wrapper--content">
                            <a href="blog-single.html"><h3>Live Support</h3></a>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur consequatur cumque dignissimos dolor, eos itaquebi</p>
                        </div>
                        <a href="blog-single.html" class="content-wrapper--link">
                            <p>Read more</p>
                            <i class="fa fa-long-arrow-alt-right"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Testimonials slider -->
<section class="testimonials-slider large-section">
    <div class="testimonials-type-2">
        <div class="container">
            <div class="swiper-container testimonials-slider-type-2">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="testimolials-slider-type-2--testimonials-wrapper">
                            <div class="testimonials-wrapper--review"><p>Lorem ipsum dolor sit amet, consectetur adipisicing. Debitis ipsum minus natus null repudiandae similiq tempora ullam volup</p>
                            </div>
                            <div class="testimonials-wrapper--author-wrapper">
                                <div class="author-wrapper--author">
                                    <div class="author--img-wrapper">
                                        <img src="http://via.placeholder.com/1920x1280" alt="" class="img-fluid">
                                    </div>
                                    <h6>John Doe</h6>
                                    <p>Director</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="testimolials-slider-type-2--testimonials-wrapper">
                            <div class="testimonials-wrapper--review"><p>Lorem ipsum dolor sit amet, consectetur adipisicing. Debitis ipsum minus natus null repudiandae similiq tempora ullam volup</p>
                            </div>
                            <div class="testimonials-wrapper--author-wrapper">
                                <div class="author-wrapper--author">
                                    <div class="author--img-wrapper">
                                        <img src="http://via.placeholder.com/1920x1280" alt="" class="img-fluid">
                                    </div>
                                    <h6>Sarah Smith</h6>
                                    <p>Designer</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="testimolials-slider-type-2--testimonials-wrapper">
                            <div class="testimonials-wrapper--review"><p>Lorem ipsum dolor sit amet, consectetur adipisicing. Debitis ipsum minus natus null repudiandae similiq tempora ullam volup</p>
                            </div>
                            <div class="testimonials-wrapper--author-wrapper">
                                <div class="author-wrapper--author">
                                    <div class="author--img-wrapper">
                                        <img src="http://via.placeholder.com/1920x1280" alt="" class="img-fluid">
                                    </div>
                                    <h6>Kate Brooks</h6>
                                    <p>Developer</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Counters -->
<section class="counters large-section bg-size-cover bg-position-center overlay bg-attachment-fixed black-overlay" style="background-image: url('http://via.placeholder.com/1920x1280')">
    <div class="counters-type-1">
        <div class="container-fluid">
            <div class="row counters-wrapper counters-list-wrapper" data-animation-type="fade"
                 data-animation-duration="3">
                <div class="col-sm-6 col-lg-3 counter-box inner-wrapper--counter-wrapper">
                      <span class="counter--value"
                            data-counter-value="423">0</span>
                    <p class="counter-box--title-counter">Project Done</p>
                </div>
                <div class="col-sm-6 col-lg-3 counter-box inner-wrapper--counter-wrapper">
                      <span class="counter--value"
                            data-counter-value="397">0</span>
                    <p class="counter-box--title-counter">Happy Clients</p>
                </div>
                <div class="col-md-6 col-lg-3 counter-box inner-wrapper--counter-wrapper">
                      <span class="counter--value"
                            data-counter-value="119">0</span>
                    <p class="counter-box--title-counter">Awards Won</p>
                </div>
                <div class="col-sm-6 col-lg-3 counter-box inner-wrapper--counter-wrapper">
                    <span class="counter--value"
                          data-counter-value="399">0</span>
                    <p class="counter-box--title-counter">Photos Taken</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Pricing tables -->
<section class="pricing-tables-section">
    <div class="container">
        <div class="row pricing-tables-section--wrapper">
            <div class="col-xl-3 section-heading padding-right">
                <h2 class="section-heading--title">
                    Choose The Plan
                </h2>
                <p class="section-heading--subtitle">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit
                </p>
                <div class="button-wrapper">
                    <a class="button btn-type-2" href="product-single.html">Learn more</a>
                </div>
            </div>
            <div class="col-xl-9">
                <div class="row pricing-tables-type-1">
                    <div class="col-xl-4 col-lg-6">
                        <a href="about.html">
                            <div class="pricing-table-wrapper--pricing-table">

                                <div class="pricing-table--pricing-header heading-stroke">
                                    <p>$</p> <span class="pricing-header--price">20</span>
                                </div>
                                <p class="pricing-header--pricing-type">Silver package</p>
                                <ul class="list-type-1">
                                    <li><p>Free Setup</p></li>
                                    <li><p>Content development</p></li>
                                    <li><p>Unlimited Items</p></li>
                                    <li><p>Marketing campaign</p></li>
                                    <li><p>24/7 Support</p></li>
                                </ul>

                            </div>
                        </a>
                    </div>
                    <div class="col-xl-4 col-lg-6">
                        <a href="about.html">
                            <div class="pricing-table-wrapper--pricing-table pricing-table-wrapper--main-plan">
                                <div class="pricing-table--best-value">Best Value</div>
                                <div class="pricing-table--pricing-header heading-stroke">
                                    <p>$</p> <span class="pricing-header--price">30</span>
                                </div>
                                <p class="pricing-header--pricing-type">Gold package</p>
                                <ul class="list-type-1">
                                    <li><p>Free Setup</p></li>
                                    <li><p>Content development</p></li>
                                    <li><p>Unlimited Items</p></li>
                                    <li><p>Marketing campaign</p></li>
                                    <li><p>24/7 Support</p></li>
                                </ul>
                            </div>
                        </a>
                    </div>

                    <div class="col-xl-4 col-lg-6">
                        <a href="about.html">
                            <div class="pricing-table-wrapper--pricing-table">
                                <div class="pricing-table--pricing-header heading-stroke">
                                    <p>$</p> <span class="pricing-header--price">40</span>
                                </div>
                                <p class="pricing-header--pricing-type">Platinum package</p>
                                <ul class="list-type-1">
                                    <li><p>Free Setup</p></li>
                                    <li><p>Content development</p></li>
                                    <li><p>Unlimited Items</p></li>
                                    <li><p>Marketing campaign</p></li>
                                    <li><p>24/7 Support</p></li>
                                </ul>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Contact us -->
<section class="contact-section large-section bg-size-cover bg-attachment-fixed bg-position-center overlay dark-overlay" style="background-image: url('http://via.placeholder.com/1920x1280')">
    <div class="container z-index-100">
        <div class="row">
            <div class="col">
                <div class="contact-section--content-wrapper">
                    <p>Get in touch with out friendly support staff</p>
                    <h3>Getting impressed? Let us amplify your brand for a modern world</h3>
                    <div class="content-wrapper--socials">
                        <div class="social-icons-type-2">
                            <a href="index.html" class="social-box facebook-h">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                            <a href="index.html" class="social-box linkedin-h">
                                <i class="fab fa-linkedin-in"></i>
                            </a>
                            <a href="index.html" class="social-box twitter-h">
                                <i class="fab fa-twitter"></i>
                            </a>
                            <a href="index.html" class="social-box instagram-h">
                                <i class="fab fa-instagram"></i>
                            </a>
                            <a href="index.html" class="social-box google-plus-h">
                                <i class="fab fa-google-plus-g"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</div>


{% endblock %}